<body>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- a class="navbar-brand" href="#"><img src="images/minecraft-log.png" style="width:200px"> Server Manager</a-->
      <img id="minecraft-image" src="images/minecraft-log.png"><span class="page-title">Server Manager</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="page-desc">This application deploys and manages minecraft servers.</div>

  <div id="minecraft-data-table-title">Deployed Minecraft Servers</div> (<a href="#" id="add-server-button">Start a new server</a>)
  <table id="minecraft-data-table">
    <tr>
      <th>Server Name</th>
      <th>Host / IP</th>
      <th># of Users</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td colspan="6" class="no-data-cell">There are no servers currently deployed...</td>
    </tr>
  </table>

  <div id="minecraft-data-table-title">Minecraft Server Console</div>
  <div id="console">
    
  </div>
  
  <div class="footer">
    <p>Awesome Apps &copy; 2014</p>
  </div>
</div>
</body>