#minecraft-data-table {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#console {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.no-data-cell {
  text-align: center;
}